/* Add a black background color to the top navigation */
.header {
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: center;
  
  /* background-color: black; */
}

/* Resize the logo image */
.img {
  height: 40px;
  max-width: 100%;
}

/* Make the navigation list responsive */
.ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Style the navigation links */
.li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.li a:hover {
  color: #ff0000;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .ul {
    flex-direction: column;
  }
  
  .li {
    margin-bottom: 10px;
  }
  
  .li:last-child {
    margin-bottom: 0;
  }
}

.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 8px 18px -12px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}